

    <div class="header-bar" >

      <div class="logo" >SORTING VISUALISER</div>
      <table>
        <tr>
          <!-- <td>  <div class="logo" >SORTING VISUALISER</div></td>
          <td>   <div *ngIf="false" [ngClass]="  ['buildNewArray',   'animate__animated',  showGenerateArrayButton[0]?  'animate__flipInX' : 'null',   showGenerateArrayButton[1]?  'animate__flipOutX' : 'null' ]  "   [ngStyle]="{ 'cursor' : 'pointer'}"   (click)="sortIt()">Sort!</div>
          </td> -->
          <td>  <div class="sortType" [ngStyle]="{'color':(i==0 && showGenerateArrayButton[0])?   'darkmagenta':'black','font-weight':(i==0 && showGenerateArrayButton[0])?   'bold':'normal'}" (click)="mergeSort()">Merge </div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color':(i==1 && showGenerateArrayButton[0])?   'darkmagenta':'black','font-weight':(i==1 && showGenerateArrayButton[0])?   'bold':'normal'}" (click)="quickSort()">Quick </div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color':(i==2 && showGenerateArrayButton[0])?   'darkmagenta':'black','font-weight':(i==2 && showGenerateArrayButton[0])?   'bold':'normal'}" (click)="bubbleSort()">Bubble</div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color':(i==3 && showGenerateArrayButton[0])?  'darkmagenta':'black','font-weight':(i==3 && showGenerateArrayButton[0])?   'bold':'normal'}" (click)="insertionSort()">Insertion</div>
          </td>
        </tr>   
      </table>
      <!-- <mat-slider   color="primary" min="1" max="5" step="0.5" value="1.5"></mat-slider> -->
    
 
      
    </div>
   
    <!-- <input [value]="valueU "  type="range" style=" z-index: 10; box-shadow: 0px 0px 5px white;" min="200" max="1000" #ranger (input)=" yourMethod(ranger.value)">
    <div class="speed-index">
      <div class="speed-index-item">0.5x</div>
      <div class="speed-index-item">1.0x</div>
      <div class="speed-index-item">1.5x</div>
   
  </div> -->
  <!-- <div *ngIf="showToast" class="user-toast"  style="z-index: 10;" >
     <div class="user-toast-header">
      Algorithm is running
    </div>
    <div class="user-toast-body">You can't built new array now.</div>
  </div> -->

  



<!-- 

  <div class="tip animate__animated animate__pulse"   *ngIf="showTip[0]" style="z-index: 10;">
    <table style="margin: 0; padding:0">
      <tr style="margin: 0; padding:0">
        Increase or decrease speed of algorithm by using above pink bubble.
      </tr>
      <tr>
        <div (click)="stopTip()" class="buttonU">Got it </div>
      </tr>
    </table>  
  </div> -->

 <!-- <div class="tv" *ngIf="showTv[0]"  style="z-index: 10;">
  <div class="tvImage"  style="background-image: url('assets/tv.png'); ">
    <div class="dogVideo" style="background-image: url('https://i.imgur.com/502u1Mn.gif')">
<div class="tvOff"></div>
    </div>
  </div> -->


  <!-- <div class="gotIt" style="position: absolute; margin-left:63%">
<table>
  <tr>
<td><div class="c1" style="margin-top: 340px;background-color: white; width:12px; height:10px; border-radius:50%"></div></td>
<td><div class="c2" style="margin-top: 330px;background-color: white; width:17px; height:15px; border-radius:50%"></div></td>
<td><div class="c3" style="margin-top: 310px;background-color: white; width:23px; height:20px; border-radius:50%"></div></td>
<td><div class="c1" style="margin-top: 300px;background-color: white; width:20px; height:20px;  border-radius:50%"></div></td>
<td><div class="c4"(click)="stopTv()" style="margin-top: 210px;background-color: white; width:100px; height:90px; border-radius:50%">skip</div></td>
  </tr>
</table>
  </div>

 </div> -->