
  

   /*  */
  .header-bar{
    width: 100%;
    height: 75px;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;


    display: flex;
    justify-content: center;
    align-items: center;


  }

  .logo
  {
    font-family: 'Azeret Mono', monospace;
    color: darkmagenta;
    font-weight: 900;
    font-size: 20px;
    cursor: grab;
  }

  .buildNewArray
{
  margin-left: 2rem;
  margin-right: 1rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.sortType
{
    cursor: pointer;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    color: black;
    font-size: 15px;
    font-weight: 600;    
}

table
{
 
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* font-family: 'Azeret Mono', monospace; */
}

.user-toast
  {

    position:absolute;
    width: 300px;
    height: 90px;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #888888;
    font-family: 'Azeret Mono', monospace;
   padding-left: 35px;
   padding-top: 10px;
  
    margin-top: 10px;
    float: left;
    margin-left:  calc(100vw - 320px);
  }

  .user-toast-header
  {
    font-size: 13px;
    font-weight: bold;
   margin-top: 11px;
  }

  .user-toast-body
  {
   margin-top: 3px;
    font-size: 12px;
  }
