

    <div class="header-bar">

   
      <table>
        <tr>
          <td>  <div class="logo" (click)="goToOpeningPage()">Sorting-Visualiser</div></td>
          <td>   <div class="buildNewArray" [ngStyle]="{  'color': 'green' , 'cursor' : default[0].isRunning? 'no-drop':'pointer'}"   (click)="buildNewArray()">New Array </div>
          </td>
          <td>  <div class="sortType" [ngStyle]="{'color': default[0].isMergeSort? 'darkmagenta':'black'}" (click)="mergeSort()">Merge-Sort</div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color':default[0].isQuickSort? 'darkmagenta':'black'}" (click)="quickSort()">Quick-Sort</div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color':default[0].isBubbleSort? 'darkmagenta':'black'}" (click)="bubbleSort()">Bubble-Sort</div>
          </td>
          <td>  <div class="sortType"  [ngStyle]="{'color': default[0].isInsertionSort?'darkmagenta':'black'}" (click)="insertionSort()">Insertion-Sort</div>
          </td>
        </tr>   
      </table>
      <!-- <mat-slider   color="primary" min="1" max="5" step="0.5" value="1.5"></mat-slider> -->
    
 
      
    </div>
   
    <!-- <input style="margin-top: 0px; width:720px" type="range" min="0" max="10" step="1" value="0"> -->
    <input [value]="valueU" type="range" min="1" max="20" #ranger (input)=" yourMethod(ranger.value)">
    <!--  <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> -->

  <div *ngIf="showToast" class="user-toast" >
     <div class="user-toast-header">
      Algorithm is running
    </div>
    <div class="user-toast-body">You can't built new array now.</div>
  </div>



  <div class="tip"  *ngIf="showTip[0]">
    <table style="margin: 0; padding:0">
      <tr style="margin: 0; padding:0">
        Increase or decrease speed of algorithm by using above pink bubble.
      </tr>
      <tr>
        <div (click)="stopTip()" class="buttonU">Got it </div>
      </tr>
    </table>


  </div>