.navbar-brand
{

   
    font-weight: 900;
    /* font-size: 25px; */
    /* margin-left: 14rem; */
    cursor: grab;
    color:darkmagenta;
   
  
}
.main
{
  display: flex;
  justify-content: center;
  align-items: center;
 
 
 
   
    box-sizing: border-box;

    box-shadow: 0px 0px 2px #888888;
    /* font-family: 'VT323', monospace; */
    font-family: 'Azeret Mono', monospace;
   
    height: 75px;
    
}
.header-divider
{
    margin-left: 0.0rem;
    margin-right: 0.0rem;
    /* background-color: black; */
    width: 2px;
    height: 2rem;
}

.buildNewArray
{
  margin-left: 0.6rem;
  margin-right: 2rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.sortType
{
    cursor: pointer;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    color: black;
    font-weight: 600;
    font-size: 13.5px;
    
}

.rounded-pill
{
    width: 85px;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
   margin-right: 0rem;
   margin-left: 1rem;
    font-size: 13.5px;
    /* float: left; */
    background-color: #f2eecb;
    
}

.nav-item
{
    color: black;
    /* background-color: black; */
}


  .user-toast
  {

    position:absolute;
    width: 300px;
    height: 90px;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #888888;
    font-family: 'Azeret Mono', monospace;
   padding-left: 35px;
   padding-top: 10px;
  
    margin-top: 10px;
    float: left;
    margin-left:  calc(100vw - 320px);
  }

  .user-toast-header
  {
    font-size: 13px;
    font-weight: bold;
   margin-top: 11px;
  }

  .user-toast-body
  {
   margin-top: 3px;
    font-size: 12px;
  }
  
  .circular_image {

    /* position:absolute;
    margin-left:  calc(100vw - 55px);
    margin-top: 3px; */
        -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 0.3s linear infinite;
        width: 30px;
        height: 30px;
        cursor: progress;
      }
      .circular_image img{
      
        
        /* width:100%; */
      }
      
      
      
      @keyframes shine {
        from { -webkit-mask-position: 150%; }
        to { -webkit-mask-position: -50%; }
      }
   .card
   {
    
    width: 50px;
    height: 50px;
    padding: 0px;
    /* margin-left:  20rem; */
    margin-top: 0px;
    
   }
   .card-body
   {
    margin: 0px;
    padding: 8px;
   }