.createArray{
    font-family: 'Prompt', sans-serif;
    position: fixed;
    bottom: 100px;
    width: 100%;
    height: 100px;
 
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content:left;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* box-shadow: 0px 0px 10px rgb(67, 67, 67); */
    /* background-color: darkmagenta; */
    /* background-color: white */

  }




  .createButon{
    box-shadow: 0px 0px 10px #888888;
    height: 80px;
    width:50px;
    background-color: turquoise;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
   
  }

  img{
    width: 20px;
    height: 20px;
  }

  .create-text{
    width: 3%;
    height: 90px;
    background-color: black;
    margin: 3px;
    display: flex;
    justify-content:center;
    align-items: center;
   
  }
  .create{
    
   
    letter-spacing: 2px;
  font-weight: bold;
  font-size: 10px;
    color: white;
    transform: rotate(-90deg);

  }


.input-box{
    width: 360px;
    /* margin: 15px; */
    /* border-radius: 20px; */
    margin-left: 30px;
}
  input[type=text] {
    width: 100%;
    color: white;
    background: black;
    padding: 5px 20px;
    margin-left: 8px;
    /* border-top-left-radius: 5px    ;
    border-bottom-left-radius: 5px  ; */
    border-top-right-radius: 0px    ;
    border-bottom-right-radius: 0px ;
    border: 0px solid black;
    font-weight: 500;
    /* box-shadow: 0px 0px 5px white; */
    /* box-sizing: border-box; */
   
  }
  input[type=text]:focus {
    outline: none;
    /* background-color: lightblue; */
    display: inline-block;
  }



  input[type=submit] {
  
    width: 50px;
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-top-left-radius:    0px    ;
    border-bottom-left-radius: 0px  ;
    border-top-right-radius:     2px     ;
    border-bottom-right-radius:  2px  ;
    background-color: turquoise;
    cursor: pointer;
    color: black;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    outline: none;
    border: 0;
    margin: 10px;
    /* border-left: 2.5px solid black; */
    /* box-shadow: 0px 0px 5px white; */
    
  }
  
  .random{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px white; */
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    outline: none;
    border: 0;
    margin: 30px;
  }

  .random-child{
    /* width: 18px;
    height: 18px; */
  }

  .input-analysis{
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    /* margin-right: 5px; */
    /* background-color: rgba(255, 255, 255,0.4); */
    /* background-color: rgba(0, 0, 0,0.05); */
    /* background-color: plum; */
    height: 100%;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    
  }

  form{
    display: flex;
    justify-content:center;
    align-items: center;
  }

  .ai-result{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    width: 300px;
    height: 70px;
    overflow-y: scroll;
    margin: 10px;
    overflow-x: hidden;
    /* background-color: rgba(0, 0, 0,0.4); */
     /* color: white; */
    /* float: right; */
  }

  .ai-card{
    display: flex;
    justify-content:center;
    align-items: center;

  }

  img{
    width: 30px;
    height: 30px ;
    margin: 10px;
  /* filter: drop-shadow( 10px 10px 100px white ); */
 

  }

  input[type="range"] {
    
    /* display: block; */
    -webkit-appearance: none;
    background-color: black;
    /* background-color:green; */
    width: 200px;
    height: 2px;
    border-radius: 10px;
    /* margin: 20px auto; */
   
    /* margin-right: auto; */
   
    /* margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px; */
  
    outline: 0;
    padding: 0px;
    background-image: ('perspective.png');
    margin: 5px;
    margin-left: 60px;
    margin-right: 60px;
    direction: rtl;
  
  
  }

  input[type="range"]::-webkit-slider-thumb {

   
    -webkit-appearance: none;
    background-color:turquoise ;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
   margin-top: 0px;
   animation-fill-mode: 'forwards' ;
  animation-duration: 0.8s;
   padding: 0px;

   
  }
  .speed-index{
   
  
    display: flex;
    align-items: center;
    justify-content: center;
   
    justify-content: space-between;
    font-size: 9px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 60px;
  
  }​

  .ai-speed{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
   
    width: 600px;
    height: 200px;
   
   
   background-color: red;
    /* flex-direction: column; */
  }

    input[type="range"]::-webkit-slider-thumb:hover {
      /* background-color: white;
      border: 2px solid darkmagenta; */
      
     
      
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.3);
     
     
    }


  @keyframes hover {
    0%   { opacity: 0.9;transform: translate(0px,  0px);}
    /* 20%  { opacity: 0.5}
    40%  { opacity: 1}
    60%  { opacity: 0.5 }
    80%  { opacity: 0} */
    50% { opacity: 1; transform: translate(0px, 10px); }
    100% { opacity: 0.9;transform:translate(0px, -0px);}
    }

  .robot{
    animation: hover 3s infinite;
    animation-timing-function: ease-in-out;
  }
  ::-webkit-scrollbar{
 
    width: 3px;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track{
    visibility: hidden;
    background-color: white;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 30px;
  }

