<div class="bottom-nav">
    <div [ngClass]="default[0].isMergeSort? ['sort-type','u' ] : ['sort-type']" (click)="mergeSort()" >M <div class="r"> merge </div> </div>
    <div  [ngClass]="default[0].isQuickSort? ['sort-type','u' ] : ['sort-type']"  (click)="quickSort()">Q <div class="r"> quick </div></div>
  
    <div  [ngClass]="default[0].isBubbleSort? ['sort-type','u' ] : ['sort-type']" (click)="bubbleSort()"> B <div class="r"> bubble </div></div>
    <div  [ngClass]="default[0].isInsertionSort? ['sort-type','u' ] : ['sort-type']" (click)="insertionSort()"> I <div class="r"> insertion </div></div>


    <div [ngClass]="  ['sort',   'animate__animated',  showGenerateArrayButton[0]?  'animate__flipInX' : 'null',   showGenerateArrayButton[2]?  'animate__flipOutX' : 'null' ]  "  (click)="buildNewArray()"><img  [ngClass]="[ 'animate__animated', showGenerateArrayButton[1]?  'hover-animation' : 'null']" src="assets/plus.svg" alt="new" style="width: 25px; height:25px"> </div>
   
</div>

