
<div class="bottom-body" role = 'list'>


    <div class="h-bar"></div>

    <div class="sort-name">
       Merge sort
    </div>

    <div class="bottom-nav">
        <table><tr>
            <td>
                <div class="nav-itemX">
                    <div class="iconX">
                        M
                    </div>
                </div>
            </td>
            <td>
                <div class="nav-itemX" style=" background-color: darkmagenta; border-radius:5px ;  box-shadow: 0px 0px 10px rgb(184, 184, 184)">
                    <div class="iconX" style=" background-color: darkmagenta; color:white;">
                        Q
                    </div>
                </div>
            </td>
            <td>
                <div class="nav-itemX">
                    <div class="iconX">
                        B
                    </div>
                </div>
            </td>
            <td>
                <div class="nav-itemX">
                    <div class="iconX">
                        S
                    </div>
                </div>
            </td>
        </tr></table>
    </div>
   
    <div class="range-box">
        
        <input [value]="200 "  type="range" style=" z-index: 10; box-shadow: 0px 0px 5px white;" min="200" max="1000" >
       
 
    </div>

    <div class="speed-index">
        <div class="speed-index-item">0.5x</div>
        <div class="speed-index-item">1.0x</div>
        <div class="speed-index-item">1.5x</div>
     
    </div>

        <!-- <div class="control"></div>
        <div class="control"></div> -->

   <div class="build-new-array">
    New Array
   </div>
   <div class="sort-button">
    Sort
   </div>
  
</div>

