<div class="bottom-nav">
    <table><tr>
        <td>
            <div class="nav-itemX">
                <div class="iconX">
                    M
                </div>
            </div>
        </td>
        <td>
            <div class="nav-itemX" style=" background-color: darkmagenta;">
                <div class="iconX" style=" background-color: darkmagenta; color:white;">
                    Q
                </div>
            </div>
        </td>
        <td>
            <div class="nav-itemX">
                <div class="iconX">
                    B
                </div>
            </div>
        </td>
        <td>
            <div class="nav-itemX">
                <div class="iconX">
                    S
                </div>
            </div>
        </td>
    </tr></table>
</div>
<div class="bottom-body" role = 'list'>
   
    <div class="scrollbar">
        <div class="control"></div>
        <div class="control"></div>
    </div>

    <!-- <cdk-virtual-scroll-viewport itemSize="2">
        <div class="control"></div>
        <div class="control"></div>
    </cdk-virtual-scroll-viewport> -->
</div>

