<div class="barsArea" >
    <!-- <h1 class="" style="animation-fill-mode: forwards ;animation-duration: 10s ; animation-name:down">An animated element</h1> -->
    <!-- <div class="h-bar"></div> -->
    <table  >
        <tr  >
    <td *ngFor="let bar of bars"  >
<div  
 [ngClass]=" bar.right? ['bar', 'animate__animated','animate__slideInLeft'] : bar.left? ['bar', 'animate__animated','animate__slideInRight']:bar.overRight? ['bar','animate__animated',' animate__fadeInLeft']:['bar']"
    
     [ngStyle]="{'height.px':bar.height , 'margin-bottom':'100px' ,   
         'background-color': bar.color=='N'? 'pink' : bar.color=='G'? '#90ee90 ' : bar.color=='P'? 'orange' : bar.color=='Pi'? '#ffef00 ':' #FFC0CB' , 'z-index':'-9', 'animation-name' : bar.overLeft? 'leftX': bar.overRight? 'rightX': null, 'animation-fill-mode': 'forwards' ,'animation-duration': (S[0]/1000)+'s' }"
         
         ></div>
    </td>
</tr>

</table>
</div>



 
 