<div class="barsArea" >
    <!-- <h1 class="" style="animation-fill-mode: forwards ;animation-duration: 10s ; animation-name:down">An animated element</h1> -->
    <!-- <div class="h-bar"></div> -->
    <table  >
        <tr  >
    <td *ngFor="let bar of bars"  >
<div  
 [ngClass]=" bar.right? ['bar', 'animate__animated','animate__slideInLeft'] : bar.left? ['bar', 'animate__animated','animate__slideInRight']:['bar']"
    
     [ngStyle]="{'height.px':bar.height , 'margin-bottom': bar.staydown? '0px' : '250px' ,   
         'background-color': bar.color=='N'? 'pink' : bar.color=='G'? '#90ee90 ' : bar.color=='P'? 'orange':'#FFC0CB' , 'z-index': bar.down? '-9' :'-9',  'animation-fill-mode': 'forwards' ,'animation-duration': (S[0]/1000)+'s' }"
         
         ></div>
    </td>
</tr>

</table>
</div>
<h1>{{S[0]/1000}}</h1>


 
 