.barsArea
{
    width:100%;
    /* height: 100%; */
     /* margin: 10px; */
}

.bar{

    width: 35px; 
    background-color:orange;
    margin-left: 2px;
    box-shadow: 0px 0px 10px black;
    
    
   
  
    
}

td {
    /* vertical-align: top; */
    vertical-align: bottom;
  }
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px
}  

.h-bar
{
    height: 2px;
    width: 73rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

@keyframes down {
    from {margin-top: 0%;}
    to {margin-top: 200px;}
  }

  
@keyframes up {
    from {margin-top: 0%;}
    to {margin-top: 400px;}
  }
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  .animate__animated
  {
       z-index: -9;
  }