

.barsArea
{
  
    width:100%;
    height: 400px;
    /* overflow: hidden; */
    
    /* height: 100%; */
     /* margin: 10px; */
     padding-top: 50px;
     /* margin-top: 50px; */
     /* background-color: #ffe0ff; */
     margin-bottom: 210px;
}

.bar{
    width: 35px; 
    /* width: 100%; */
    background-color:turquoise;
    margin: 1px;
    box-shadow: 0px 0px 10px black;
  }

td {
  height: 387px;
    /* vertical-align: top; */
    vertical-align: bottom;}
table{
  overflow: hidden;
  /* background-color: red; */
  /* height:357px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */  
}  

.h-bar
{
    height: 2px;
    width: 73rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}



  
@keyframes leftX {
    from {opacity: 0;  transform: translate(var(--left)) }
    to {  
    }
  }

@keyframes rightX {
  from {opacity: 0; transform: translate(var(--right))}
  to {  
   
  }
  }

  .animate__animated
  {
       z-index: -9;
  }

.container-info{
  width: 100%;
  /* height: 500px; */
  /* margin: 10px; */
 
  
  
 
  background-image: linear-gradient(white,white,#F7FBFF);
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Prompt', sans-serif;}

  .sub-container{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:30px;
     width:500px;
    
   

  }
h1{
  
  font-weight:900;
  color: darkmagenta;
}
p{
  width:400px;
  /* background-color: red; */
  /* text-align:left; */
  word-spacing: 3px;
  /* white-space: 2px; */
  /* line-height: 25px; */
  /* letter-spacing: 1px; */
  /* font-weight: 00; */
  font-size: 17px;
}
.tail{
  
  width:100%;
  height:110px;
  background-color: darkmagenta;
  display: flex;
  font-family: 'Prompt', sans-serif;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  position: fixed;
  bottom: 0;

}

.link{
  display: flex;
  font-family: 'Prompt', sans-serif;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

}







.name{
  /* margin-top: 0px;
  margin-bottom: 20px; */
  font-weight: 500;
  color: white;
  font-size: 19px;
  margin-left: 30px;
  margin-right: 450px;

}


.iconX{
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .bar{
    width: 15px; 
    /* width: 100%; */
    background-color:turquoise;
    margin: 0.3px;
    box-shadow: 0px 0px 5px black;
  }
}

