<div class="about-body" >

    <table>
        <tr>
            <div class="heading">Contact Us</div>
        </tr>
        <tr>
            <div class="photo" >
                <img src="assets/sasi.jpg" alt="founder pic">
            </div>
        </tr>
        <tr>
            <div class="name">
                sasi.bhumaraju
            </div>
        </tr>
        <tr>

            <div class="link">
            <table>
                <tr>
                    <td>
                    <div class="iconX">
                        <a href="mailto:sasi.bhumaraju@gmail.com"><i class="fab fa-google fa-2x" style="color:red; "></i></a>
                    </div></td>

                    <td>
                        <div class="iconX">
                            <a href="https://www.instagram.com/sasi_bhumaraju/">  <i class="fab fa-instagram  fa-2x" style="color:#8a3ab9"></i></a>
                           
                         </div>
                    </td>
                    <td>
                        <div class="iconX">
                            <a href="https://www.facebook.com/sasikumarraju.sasikumarraju/">   <i class="fab fa-facebook-f  fa-2x" style="color: #3b5998"></i></a>
                           
                        </div>

                    </td>
                  <td>
                    <div class="iconX">
                        <a href="https://twitter.com/BhumarajuSashi">    <i class="fab fa-twitter  fa-2x"></i></a>
                    </div>
                  </td>
                    
                </tr>
            </table>
        </div>
        </tr>
    </table>

   
  

   
   
</div>
