 
 
 <table>
<tr>

    <td >
        <div class="left">
       <tr *ngFor="let bar of bars">
        <div class="bar" [ngStyle]="{'width.px':bar}"></div>
       </tr>
    </div>
    </td>
    <td>
        <div class="divider">
            
        </div>
    </td>
    <td>
       <div class="right">
        <h1>Sorting Visualiser</h1>
        <h6>Visualise Sorting algorithms. Merge Sort, Quick Sort, Insertion Sort and Bubble Sort.</h6>
        <div class=" bg-light rounded-pill" (click)="goToMain()">start</div>
      </div> 
       
    </td>
</tr>
</table>


