 
<div class="openinPage" *ngIf="open" style="background-color: darkmagenta;">
   

    <div class="layer"></div>

    <div class="card-holder">
    <div class="user-card " >
        <img src="assets/think.svg" alt="sorting ideas" class="circle-image" >
           <table style="margin: 0px;">
               <tr>
                   <table >
                       <tr>
                           <h1 >Welcome to Sorting Visualiser</h1>
                           <h6 >Visualise Sorting algorithms. Merge Sort, Quick Sort, Insertion Sort and Bubble Sort.</h6>
                       </tr>
                       <tr> <div class="  rounded-button" (click)="goToMain()">start</div></tr>
                       </table>
    
               </tr>
           </table>
    </div>
</div>

</div>



