


/* right side ......... */
.rounded-button
{
    font-family: 'Azeret Mono', monospace;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    /* width: 300px; */
    /* border: 2px solid black; */
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    /* margin-top: 5rem; */
    font-size: 20px;
    background-color: darkmagenta;
    color: white;
    /* background-image: linear-gradient(to right,white,darkmagenta); */
    width: 280px;
   
}

h1{
    /* margin-top: 5rem; */
    font-weight: 800;
    width: 280px;
    font-size: 20px;
    color: darkmagenta;
    margin-top: 28px ;
    display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Azeret Mono', monospace;
}
h6{
     /* margin-top: 5rem; */
    width: 280px;
    color: #3e3e42;
    font-size: 14px;
    margin-top: 10px;
}


table
{
   
    /* font-family: 'VT323', monospace; */
   
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    
    /* vertical-align: bottom; */
     /* background-color: red; */
  /* margin-right: auto;
  margin-left: auto; */
  float: right;
  margin-right: 30px;
 margin-left: auto;
  /* margin-right: 25%; */
  /* margin-right: 20rem; */
  /*    float: right; */
}



/* divider  ......... */
.divider
{
    width: 2px;
    height: 350px;
    background-color: black;
    /* margin-top: 7rem; */
    margin-right: 5rem;
}


/* left side bars...... */
.left
{
    /* text-align: right; */
     /* float: right; */
   /* justify-content: space-around; */
    /* align-content: flex-end; */
      /* align-items: flex-end; */
    /* margin-top: 4rem;
    padding-top: 4rem;
    margin-right: 0rem; */
}

.bar
{
    height: 20px;
    background-color: black;
    margin-bottom: 3px;
    float: right;
   
}




.openinPage
{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  /* height: 200px; */
}


.user-card
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  
   /* border: 2px solid black; */
    background-color: white;
    border-radius: 40px;
    width:570px;
    height: 220px;
    box-shadow: 0px 0px 10000px black;
  
}

.circle-image
{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 200px;
    height: 200px;
    margin-top: -35px;
    margin-left: 20px;
}


