/* You can add global styles to this file, and also import other style files */
/* body{
  background-image:   linear-gradient(#F1F2B5, #135058);
  background-color: green;
  color: ;
  height: 100vh;
} */
body {
    /* background-color: green; */
    /* background-image: linear-gradient(#FDFFF6 ,#FDFFF6 ); */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
